/* defoult styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 10px;
}
/* initial css variables for page theme */
:root[data-theme="theme1"] {
  --text-color: #fff;
  --button-color: #3a4663;
  --bg-body: #3a4663;
  --bg-switch-and-keyboard: #242d44;
  --bg-monitor: #181f33;
  --bg-button: #eae3dc;
  --bg-del-reset: #647198;
  --bg-equal: #d03f2f;
  --bg-button-hover: #fffffe;
  --bg-del-reset-hover: #a2b2e1;
  --bg-equal-hover: #f96b5b;
  --bg-swith-btn-hover: #f96b5b;
  --button-shadow: #b3a497;
  --del-reset-shadow: #414e73;
  --equal-shadow: #93261a;
}
:root[data-theme="theme2"] {
  --text-color: #36362c;
  --button-color: #36362c;
  --bg-body: #e6e6e6;
  --bg-switch-and-keyboard: #d2cdcd;
  --bg-monitor: #eee;
  --bg-button: #e5e4e1;
  --bg-del-reset: #378187;
  --bg-equal: #c85402;
  --bg-button-hover: #fff;
  --bg-del-reset-hover: #62b5bc;
  --bg-equal-hover: #ff8a38;
  --bg-swith-btn-hover: #ff8a38;
  --button-shadow: #a79e91;
  --del-reset-shadow: #1b6066;
  --equal-shadow: #873901;
}
:root[data-theme="theme3"] {
  --text-color: #ffe53d;
  --button-color: #ffe53d;
  --bg-body: #17062a;
  --bg-switch-and-keyboard: #1e0936;
  --bg-monitor: #1e0936;
  --bg-button: #331c4d;
  --bg-del-reset: #56077c;
  --bg-equal: #00ded0;
  --button-shadow: #881c9e;
  --del-reset-shadow: #be15f4;
  --equal-shadow: #6cf9f1;
  --bg-button-hover: #6c34ac;
  --bg-del-reset-hover: #8631af;
  --bg-equal-hover: #93fff8;
  --bg-swith-btn-hover: #93fff8;
}
/*  */
body {
  background-color: var(--bg-body);
  width: 100%;
  height: 100vh;
  padding: 3rem 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  font-family: "League Spartan";
  font-weight: 700;
  transition: 0.2s ease;
}
.themeAndmonitor-section {
  width: 100%;
  max-width: 53.3rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
}
.theme-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 3.2rem;
  letter-spacing: -0.533px;
}
h2 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.swith-container {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 2.6rem;
}
.swith-div {
  width: 7.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.swith-numbers {
  size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* make swith with input type = radio */
.theme-swith {
  width: 100%;
  height: 2.6rem;
  border-radius: 13px;
  background: var(--bg-switch-and-keyboard);
  display: flex;
  justify-content: space-between;
}
.swith-radio,
.swith-radio-dark {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.swith-radio input,
.swith-radio-dark input {
  display: none;
}
.swith-radio span,
.swith-radio-dark span {
  position: relative;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  margin: 0.3rem;
}
.swith-radio input:checked + span::after {
  content: "";
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: #d03f2f;
}
/*radio style for dark theme */
.swith-radio-dark input:checked + span::after {
  content: "";
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: #00ded0;
}
/* start monitor style */
.display {
  width: 100%;
  height: 8.8rem;
  border-radius: 1rem;
  background: var(--bg-monitor);
  text-align: end;
  font-size: 4rem;
  padding: 2.4rem;
}
/* start keyboard styles */
.keyboard-section {
  width: 100%;
  max-width: 53.3rem;
  height: 42rem;
  background: var(--bg-switch-and-keyboard);
  border-radius: 1rem;
  margin-top: 2.4rem;
  padding: 2.4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
}
button {
  max-width: 10rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-button);
  box-shadow: 0px -4px 0px 0px var(--button-shadow) inset;
  border: none;
  border-radius: 0.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--button-color);
  cursor: pointer;
}
.del {
  background-color: var(--bg-del-reset);
  box-shadow: 0px -4px 0px 0px var(--del-reset-shadow) inset;
  font-size: 2rem;
  color: #fff;
  transition: 0.2s;
}
.reset {
  max-width: 22.7rem;
  grid-column: span 2;
  background-color: var(--bg-del-reset);
  box-shadow: 0px -4px 0px 0px var(--del-reset-shadow) inset;
  font-size: 2rem;
  color: #fff;
}
.equal {
  max-width: 22.7rem;
  grid-column: span 2;
  background-color: var(--bg-equal);
  box-shadow: 0px -4px 0px 0px var(--equal-shadow) inset;
  font-size: 2rem;
  color: #111;
}
@media (min-width: 585px) {
  .display {
    height: 12.8rem;
    font-size: 5.6rem;
    padding: 4rem 3.2rem;
  }
  .keyboard-section {
    height: 48rem;
    padding: 3rem;
    gap: 2.4rem;
  }
  .swith-radio input:checked + span::after:hover {
    content: "";
    background: var(--bg-swith-btn-hover);
  }
  button:hover {
    background-color: var(--bg-button-hover);
  }
  .del:hover {
    background-color: var(--bg-del-reset-hover);
  }
  .reset:hover {
    background-color: var(--bg-del-reset-hover);
  }
  .equal:hover {
    background-color: var(--bg-equal-hover);
  }
}
